<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript" src="/javascripts/p5.js"></script>
    <script type="text/javascript" src="/javascripts/1920.js"></script>
    <script type="text/javascript" src="/javascripts/pixel.js"></script>
    <script type="text/javascript" src="/javascripts/p5.dom.js"></script>
    <script type="text/javascript" src="/javascripts/p5.sounds.js"></script>
  </head>
  <body>
  </body>
</html>
